# Configuration file

##########################################################################################################
# both
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by both.
# Client can be different from server.
# If client differs from server, server can disable client's setting if false.
##########################################################################################################

both {
    B:useMod=true
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings controlled client.
# Can vary from server to server.
##########################################################################################################

client {
    B:hasParticles=true
}


##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Enchantments can be disabled to be enchantable in the table.
# Controlled on the server side
##########################################################################################################

enchantments {
    B:enchantment.agility=true
    S:enchantment.agility-ToolTip=
    B:enchantment.arrowDamage=true
    S:enchantment.arrowDamage-ToolTip=Increases damage
    B:enchantment.arrowFire=true
    S:enchantment.arrowFire-ToolTip=Flaming arrows
    B:enchantment.arrowInfinite=true
    S:enchantment.arrowInfinite-ToolTip=Shooting consumes no arrows
    B:enchantment.arrowKnockback=true
    S:enchantment.arrowKnockback-ToolTip=Increases knockback
    B:enchantment.berserk=true
    S:enchantment.berserk-ToolTip=
    B:enchantment.cleave=true
    S:enchantment.cleave-ToolTip=
    B:enchantment.damage.all=true
    S:enchantment.damage.all-ToolTip=Extra damage
    B:enchantment.damage.arthropods=true
    S:enchantment.damage.arthropods-ToolTip=Extra damage to spiders, cave spiders and silverfish
    B:enchantment.damage.undead=true
    S:enchantment.damage.undead-ToolTip=Extra damage to undead mobs
    B:enchantment.defusing=true
    S:enchantment.defusing-ToolTip=
    B:enchantment.digging=true
    S:enchantment.digging-ToolTip=Faster resource gathering while in use
    B:enchantment.disjunction=true
    S:enchantment.disjunction-ToolTip=
    B:enchantment.dowsing=true
    S:enchantment.dowsing-ToolTip=
    B:enchantment.durability=true
    S:enchantment.durability-ToolTip=Increases durability
    B:enchantment.execute=true
    S:enchantment.execute-ToolTip=
    B:enchantment.explosive=true
    S:enchantment.explosive-ToolTip=
    B:enchantment.fire=true
    S:enchantment.fire-ToolTip=Lights the target on fire
    B:enchantment.fishingSpeed=true
    S:enchantment.fishingSpeed-ToolTip=
    B:enchantment.fleetfoot=true
    S:enchantment.fleetfoot-ToolTip=
    B:enchantment.frost=true
    S:enchantment.frost-ToolTip=
    B:enchantment.frugal=true
    S:enchantment.frugal-ToolTip=Wand equivalent of unbreaking.
    B:enchantment.harvest=true
    S:enchantment.harvest-ToolTip=
    B:enchantment.haste=true
    S:enchantment.haste-ToolTip=Usable on boots and the Thaumostatic Harness only. Makes you move faster. Very effective on Boots of the Traveller, or the Thaumostatic Harness.
    B:enchantment.iceaspect=true
    S:enchantment.iceaspect-ToolTip=
    B:enchantment.knockback=true
    S:enchantment.knockback-ToolTip=Increases knockback
    B:enchantment.knowledge=true
    S:enchantment.knowledge-ToolTip=
    B:enchantment.leech=true
    S:enchantment.leech-ToolTip=
    B:enchantment.lootBonus=true
    S:enchantment.lootBonus-ToolTip=Mobs can drop more loot
    B:enchantment.lootBonusDigger=true
    S:enchantment.lootBonusDigger-ToolTip=Increases the drop rate of items from blocks
    B:enchantment.lootBonusFishing=true
    S:enchantment.lootBonusFishing-ToolTip=
    B:enchantment.mending=true
    S:enchantment.mending-ToolTip=
    B:enchantment.mobility=true
    S:enchantment.mobility-ToolTip=
    B:enchantment.oxygen=true
    S:enchantment.oxygen-ToolTip=Decreases the rate of air loss underwater; increases time between damage while suffocating and drowning
    B:enchantment.poison=true
    S:enchantment.poison-ToolTip=
    B:enchantment.poisonprotect=true
    S:enchantment.poisonprotect-ToolTip=
    B:enchantment.potency=true
    S:enchantment.potency-ToolTip=Increases damage or range that wands have.
    B:enchantment.protect.all=true
    S:enchantment.protect.all-ToolTip=Reduces damage from all sources
    B:enchantment.protect.explosion=true
    S:enchantment.protect.explosion-ToolTip=Protection against explosion damage; reduces explosion recoil
    B:enchantment.protect.fall=true
    S:enchantment.protect.fall-ToolTip=Protection against fall damage
    B:enchantment.protect.fire=true
    S:enchantment.protect.fire-ToolTip=Protection against fire damage; fire is extinguished faster
    B:enchantment.protect.projectile=true
    S:enchantment.protect.projectile-ToolTip=Protection against damage from projectile entities
    B:enchantment.quickdraw=true
    S:enchantment.quickdraw-ToolTip=
    B:enchantment.repair=true
    S:enchantment.repair-ToolTip=Consumes vis from the local aura to repair the item with this enchantment
    B:enchantment.resurrection=true
    S:enchantment.resurrection-ToolTip=
    B:enchantment.spellbane=true
    S:enchantment.spellbane-ToolTip=
    B:enchantment.steadfast=true
    S:enchantment.steadfast-ToolTip=
    B:enchantment.thorns=true
    S:enchantment.thorns-ToolTip=Chance of dealing damage to mobs or players attacking the wearer
    B:"enchantment.ttinkerer:ascentBoost"=true
    S:"enchantment.ttinkerer:ascentBoost-ToolTip"=
    B:"enchantment.ttinkerer:autoSmelt"=true
    S:"enchantment.ttinkerer:autoSmelt-ToolTip"=
    B:"enchantment.ttinkerer:desintegrate"=true
    S:"enchantment.ttinkerer:desintegrate-ToolTip"=
    B:"enchantment.ttinkerer:dispersedStrike"=true
    S:"enchantment.ttinkerer:dispersedStrike-ToolTip"=
    B:"enchantment.ttinkerer:finalStrike"=true
    S:"enchantment.ttinkerer:finalStrike-ToolTip"=
    B:"enchantment.ttinkerer:focusedStrike"=true
    S:"enchantment.ttinkerer:focusedStrike-ToolTip"=
    B:"enchantment.ttinkerer:pounce"=true
    S:"enchantment.ttinkerer:pounce-ToolTip"=
    B:"enchantment.ttinkerer:quickDraw"=true
    S:"enchantment.ttinkerer:quickDraw-ToolTip"=
    B:"enchantment.ttinkerer:shatter"=true
    S:"enchantment.ttinkerer:shatter-ToolTip"=
    B:"enchantment.ttinkerer:shockwave"=true
    S:"enchantment.ttinkerer:shockwave-ToolTip"=
    B:"enchantment.ttinkerer:slowFall"=true
    S:"enchantment.ttinkerer:slowFall-ToolTip"=
    B:"enchantment.ttinkerer:tunnel"=true
    S:"enchantment.ttinkerer:tunnel-ToolTip"=
    B:"enchantment.ttinkerer:valiance"=true
    S:"enchantment.ttinkerer:valiance-ToolTip"=
    B:"enchantment.ttinkerer:vampirism"=true
    S:"enchantment.ttinkerer:vampirism-ToolTip"=
    B:enchantment.untouching=true
    S:enchantment.untouching-ToolTip=Mined blocks will drop themselves instead of the item(s) it should drop
    B:enchantment.venom=true
    S:enchantment.venom-ToolTip=
    B:enchantment.vorpal=true
    S:enchantment.vorpal-ToolTip=
    B:enchantment.wandfortune=true
    S:enchantment.wandfortune-ToolTip=
    B:enchantment.waterWorker=true
    S:enchantment.waterWorker-ToolTip=Increases underwater mining rate
}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by server.
##########################################################################################################

server {
    B:AllowDisenchanting=true
    B:AllowEnchantDamaged=true
    B:AllowRepair=true
    I:CostFactor=5
    B:"Disenchant Unowned"=false
    I:RepairFactor=5
    B:classicMode=false
    B:hasLight=true
    I:minimumBook=5
    B:needsBookShelves=true
}


